.cont-user {
    width: 100%;
    min-height: calc(100vh - 155px);
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    padding: 0;
}
.cont-user .cont-user-bar {
    width: 250px;
    min-height: 100%;
    border-right: 1px #EBEBEB solid;
}
.cont-user .cont-user-clubs {
    width: calc(100% - 251px);
    display: flex;
    flex-flow: column wrap;
}
.cont-user .cont-fllw-clubs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.cont-user .cont-created-clubs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.cont-user .cont-user-bar h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    padding: 20px;
}
.cont-user .cont-user-clubs h2 {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    padding: 20px;
}
.cont-user .cont-user-bar a, .cont-user-clubs a {
    text-decoration: none;
    color: #484848;
    padding-left: 25px;
}
.cont-user .cont-user-bar a:hover, .cont-user-clubs a:hover {
    color: #0097FF;
    transition: color 0.8s;
}
.cont-user .cont-user-bar p {
    width: 100%;
    text-align: center;
    color: #999999;
    font-size: 13px;
    font-weight: 300;
    margin-top: -25px;
    margin-bottom: 30px;
    padding-bottom: 35px;
    border-bottom: 1px #EBEBEB solid;
}
.cont-user li {
    list-style-type: none;
    margin-bottom: 15px;
}
.cont-user h3 {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.cont-user .cont-user-clubs .table {
    width: 300px;
    border: 1px #DDDDDD solid;
    border-radius: 30px;
    box-shadow: 0 0 6px 0 rgba(59, 59, 59, 0.3);
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    margin: 0 30px;
    margin-bottom: 60px;
}
.cont-user .cont-user-clubs .table img {
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0 0 6px 0 rgba(59, 59, 59, 0.6);
}
.cont-user .table .botones {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.cont-user .table .botones a {
    text-decoration: none;
    padding: 10px 34px;
}
.cont-user .table .botones a:hover {
    color: #FFFFFF;
    transition: color 0.8s;
}
.cont-user .table .create {
    border: 1px #0097FF solid;
    border-radius: 50px;
    box-shadow: 0 0 6px 0 rgba(59, 59, 59, 0.2);
    margin-left: 65px;
}
.cont-user .table a.create {
    color: #0097FF;
}
.cont-user .table .create:hover {
    background: #0097FF;
}
.cont-user .table .edit {
    border: 1px #FFC100 solid;
    border-radius: 50px;
    box-shadow: 0 0 6px 0 rgba(59, 59, 59, 0.2);
    margin-left: 40px;
}
.cont-user .table a.edit {
    color: #FFC100;
}
.cont-user .table .edit:hover {
    background: #FFC100;
}
.cont-user .table .delete {
    padding: 10px;
    border: 1px #FF0000 solid;
    border-radius: 50px;
    box-shadow: 0 0 6px 0 rgba(59, 59, 59, 0.2);
    margin-left: 15px;
}
.cont-user .table a.delete {
    color: #FF0000;
    transition: color 0.8s;
}
.cont-user .table .delete:hover {
    border: none;
    background: #FF0000;
}
.cont-user .timeago {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    font-size: 12px;
    color: #999999;
}
.cont-user .no_created {
    margin-top: -10px;
    margin-bottom: 40px;
    border: 1px #DDDDDD solid;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(59, 59, 59, 0.3);
    padding: 20px;
}
.cont-user .info_event {
    text-align: center;
}