<div class="bg">
    <div class="cont-d">
        <div class="img-d"></div>
    </div>
    <div class="cont-logo-tagline">
        <div class="cont-logo">
            <div class="logo"><a href="/signin" style="display: block; height: 100%"></a></div>
        </div>
        <div class="cont-tagline">
            <div class="discover"><a href="/clubs"><p>Discover the best parties!</p></a></div>
            <br>
            <p class="tagline1">Keep young, have fun, use</p>
            <p class="tagline2">DISCOTHEQUE</p>
        </div>
    </div>
</div>