<div class="bg">
    <div class="cont-d">
        <div class="img-d"></div>
    </div>
    <div class="cont-logo-tagline">
        <div class="cont-logo">
            <div class="logo"><a href="/signin" style="display: block; height: 100%"></a></div>
        </div>
        <div class="cont-tagline">
            <div class="discover"><a href="/clubs"><p>Discover the best parties!</p></a></div>
            <br>
            <p class="tagline1">Keep young, have fun, use</p>
            <p class="tagline2">DISCOTHEQUE</p>
        </div>
    </div>
</div>

<div class="page2">
    <div class="cont-info-left">
        <div class="title-app">
            <p>Discover, book and attend the best parties in the city</p>
        </div>
        <div class="cont-features">
            <div class="img-feature"></div>
        </div>
    </div>
    <div class="cont-info-right"></div>
</div>

<div class="cont-footer">
    <div class="cont-footer-description">
        <h1>Discotheque</h1>
        <p>Discotheque is a web application that connects the client to the different places that he could go, according to his tastes. The app has a search engine that orders the clubs by category (disco, fonda, bar, etc), by musical genres, location, popularity, type of audience, etc. In addition, the client can follow the clubs that he likes the most and can receive notifications of upcoming events that will take place there and do his respective reservations.</p>   
        <div class="foto"></div>
        <p class="full-stack">Full-stack software engineer</p>
    </div>
    <div class="cont-footer-icons">
        <div class="github"><a href="https://github.com/danicelistobon/Discotheque" style="display: block; height: 100%" target="_blank"></a></div>
        <div class="twitter"><a href="https://twitter.com/danicelistobon" style="display: block; height: 100%" target="_blank"></a></div>
        <div class="linkedin"><a href="https://www.linkedin.com/in/danicelistobon/" style="display: block; height: 100%" target="_blank"></a></div>
        <div class="holberton"><a href="https://www.holbertonschool.com" style="display: block; height: 100%" target="_blank"></a></div>
    </div>
    <br>
    <br>
</div>