<header>
    <div class="logoc">
        <a href="/clubs" style="display: block; height: 100%"></a>
    </div>
    <h1>Discotheque</h1>
    <div class="profile">
        <a href=# style="display: block; height: 80px; width: 80px"></a>
        <div class="popover">
            <ul>
                <li><a href="/user">Your profile</a></li>
                <li class="borde"><a href="/clubs/add">Create a club</a></li>
                <li><a href="/">Sign out</a></li>
            </ul>
        </div>
    </div>
</header>
        
        <div class="cont-user">
            <div class="cont-user-bar">
                <h2>Daniel</h2>
                <li><a href="/user">Your profile</a></li>
                <li class="borde"><a href="/clubs/add">Create a club</a></li>
                <li><a>*** More features soon ***</a></li>
                <li><a href="/">Sign out</a></li>
            </div>
            <div class="cont-user-clubs">
                <div class="cont-fllw-clubs">
                    <h2>Clubs that I follow</h2>
                    <div class="table">
                        <h3>Name</h3>
                        <img src="images/Portada2.jpg" alt="" style="width: 280px">
                    </div>
                    <div class="table">
                        <h3>Name</h3>
                        <img src="images/Portada2.jpg" alt="" style="width: 280px">
                    </div>
                    <div class="table">
                        <h3>Name</h3>
                        <img src="images/Portada2.jpg" alt="" style="width: 280px">
                    </div>
                    <div class="table">
                        <h3>Name</h3>
                        <img src="images/Portada2.jpg" alt="" style="width: 280px">
                    </div>
                </div>
                <div class="cont-created-clubs">
                    <h2>Clubs that I have created</h2>
                    <div class="table">
                        <h3>Name</h3>
                        <img src="images/Portada2.jpg" alt="" style="width: 280px">
                        <div class="botones">
                            <button class="edit">Edit</button><button class="delete">Delete</button>
                        </div>
                    </div>
                    <div class="table">
                        <h3>Name</h3>
                        <img src="images/Portada2.jpg" alt="" style="width: 280px">
                        <div class="botones">
                            <button class="edit">Edit</button><button class="delete">Delete</button>
                        </div>
                    </div>
                    <div class="table">
                        <h3>Name</h3>
                        <img src="images/Portada2.jpg" alt="" style="width: 280px">
                        <div class="botones">
                            <button class="edit">Edit</button><button class="delete">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
<footer>
    <div class="github"><a href="https://github.com/danicelistobon" style="display: block; height: 100%"></a></div>
    <div class="twitter"><a href="https://twitter.com/danicelistobon" style="display: block; height: 100%"></a></div>
    <div class="linkedin"><a href="https://www.linkedin.com/in/danicelistobon/" style="display: block; height: 100%"></a></div>
    <div class="holberton"><a href="https://www.holbertonschool.com" style="display: block; height: 100%"></a></div>
</footer>